dist: trusty
language: java
sudo: required
addons:
  sonarcloud:
    organization: sqs
jdk:
- openjdk11
script:
- sonar-scanner
cache:
  directories:
  - "$HOME/.sonar/cache"
env:
  global:
    secure: BotIkJHyKg7jyCx9X2Ho37kXqzfD1d82Y0QpRj5BdCFF+SKXVG3zLMFV721ytyEvY9ypbzSS7aImF86ZdpI4vwZM66zpsQMo0EZbc9hdbRuVCxu5HiRiNIuKLge4+nN5n2nuttPvJFF+FIucSdEsiC3NxVGJkHw9GJICKCiPZwqZ2s4L/RYUuF1UgJI30WA0wrnigUMxfCDKckw9pyv/+KtH4lpm14uq9EnzrXxzTxiGLJ6UW8Q9JJImv6bUK6E1HltdXoCSFrEB44Yq9L2gev5ppSxE1mATyU06MAZ/7CETfKXseVAtJNrVcl9uXHUHy+q2w1KVSOiYxuFIZIMclfwBWz4zsA67b0UhhNOWh82T+17mJOQRDArJ8AZCOS/TQrt22oivfRHDXzsaCEK33B3O+E2ns9RNzYIZx7AWadV+U/SoAssRXnxhAueahnOXkwgJ0rwXUeCP4+k5ERePuzZfRaRpfWFaxBze1ZEx0DdQCBqm23TPthBq8NaeJxnYTNtXgVWbwHJ48K1s8kCSy+yIyRBSePnN0Or0kCHLcvsqYQXIuaLQVrE4DrTjQ79avJH5QrkhPOd+nFT+mPYJ5sGc+NxnMVzntrFf+Uh6hHwdo+ywtvSPNjzhfvSEIE7d6fzJfg5hP2RSYLlYgqL/Ga8LF51XfP8Zo9CKip3CRnY=
